$color-white: white;
$color-black: black;

$app-background: #191B26;

// Button
$success-color: #3E7764;
$success-hover-color: #79bda6;

$danger-color: #A33F44;
$danger-hover-color: #d47c81;

$primary-color: #6D4CC7;
$primary-hover-color: #A185D9;

$secondary-color: #FFA94C;
$secondary-hover-color: #fff8da;

// Card
$card-background-primary: #6D4CC7;
$card-background-secondary: #571EF0;

// Form
$form-background: #2F3543;
$error-message-color : red;