@import '../../../constants/styles';

#form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-parent-col{
    background-color: $form-background;
    border-radius: 20px;
}

#login-form{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
}

.error-message{
    color: $error-message-color;
}