@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.App {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  background-color: #191B26;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  color:white;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
}