@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$app-background: #191B26;
$color-white: white;

.App {
  min-height: 100vh;
  
  text-align: center;
  background-color: $app-background;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  color: $color-white;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
}